spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/testdb
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    show_sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true